<app-container title="Example Page">
  <h3>This is an example page</h3>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nunc
    libero, pretium sed nibh vel, laoreet ultricies turpis. Cras id neque nec
    enim consequat viverra in quis elit. Sed ultricies tellus sit amet fringilla
    vestibulum. Phasellus in arcu nec eros elementum scelerisque a quis erat.
    Proin ut risus quam. Etiam in erat augue. Curabitur finibus magna non
    elementum porta. Sed non sagittis risus. Maecenas tortor massa, imperdiet
    sed placerat at, gravida in turpis. Aenean eget tellus in quam ultrices
    convallis. Curabitur eget varius risus, vitae sodales dolor. Fusce risus
    erat, efficitur dignissim neque a, placerat consectetur lectus. Nulla auctor
    leo quis dapibus rutrum. Etiam facilisis maximus nunc, bibendum eleifend
    enim feugiat non. Nulla ullamcorper diam nisl, at blandit nulla condimentum
    et.
  </p>

  <p>
    Nullam sapien urna, imperdiet eget ipsum at, volutpat mollis quam. Aenean
    fermentum risus ut laoreet malesuada. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Vivamus a leo ante. Aenean in elit ac lectus
    faucibus molestie ut quis turpis. Etiam mauris elit, commodo non tortor
    commodo, laoreet rutrum felis. Quisque vulputate, sapien venenatis congue
    suscipit, enim nunc varius lacus, sit amet ornare dolor velit ut leo. Sed ac
    suscipit enim.
  </p>

  <p>
    Nam et pretium metus. Fusce dapibus orci ac faucibus pulvinar. Vivamus eu
    ligula eu eros fermentum mattis sed eget lacus. Pellentesque iaculis gravida
    enim, sed dapibus felis condimentum in. Quisque venenatis, libero a ornare
    laoreet, nisl arcu congue ligula, vitae vehicula arcu mauris finibus lacus.
    Sed rhoncus ligula quis odio mollis, ut rhoncus turpis feugiat. Etiam
    condimentum magna non bibendum facilisis. Ut laoreet hendrerit neque, at
    volutpat ligula pulvinar consequat. In finibus magna nec commodo auctor.
    Phasellus vel neque arcu. Mauris id dui nibh.
  </p>

  <p>
    Donec id tempor enim. Vestibulum elementum sodales massa id sollicitudin.
    Proin nec interdum mauris. Quisque consequat ultricies efficitur. Nunc quis
    metus eget ligula efficitur facilisis sit amet ut erat. Donec sagittis arcu
    eget urna ultrices, ut luctus ex efficitur. Donec varius eros eu efficitur
    fermentum. Cras ullamcorper elit eu iaculis molestie. Sed in sodales turpis.
    Mauris feugiat lacus vulputate tellus tempor lacinia. Aliquam molestie leo
    nibh, nec porttitor enim semper sit amet. Fusce non mauris metus.
    Pellentesque tristique maximus sem, vitae dapibus augue rhoncus at.
  </p>

  <p>
    Duis ac imperdiet sapien. Cras eu massa purus. Proin imperdiet egestas
    posuere. Duis vel eros arcu. Praesent nibh justo, porta eget euismod non,
    mattis eget orci. Morbi non egestas nisl. Nam quam magna, auctor sit amet
    metus eget, tristique tempus magna.
  </p>
</app-container>
