:host {
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  gap: 14px;
  box-sizing: border-box;
  width: 100%;
}

.title-container {
  .title {
    font-size: 21px;
    font-weight: 600;
    color: var(--primary-100);
  }
}

.content-section {
  flex-grow: 1;
  background: var(--neutral-00);
  box-shadow: 0px 1px 8px 0px #00000040;
  border-radius: 4px;
  padding: 14px;
  box-sizing: border-box;
}
