<app-container title="Détail Employé">
  <div class="content">
    <div class="header">
      <h3 class="title">Informations sur l'employé</h3>
      <div class="back-btn">
        <ctz-button
          variant="primary"
          (onClick)="onGoBack()"
          text="Retour vers la liste"
        />
      </div>
    </div>
    <div class="container">
      <div class="info-content">
        <div class="info-field">
          <span class="field-name">Prénom</span>
          <span class="field-value">{{employe.firstname}}</span>
        </div>
        <div class="info-field">
          <span class="field-name">Nom</span>
          <span class="field-value">{{employe.lastname}}</span>
        </div>
        <div class="info-field">
          <span class="field-name">Adresse email</span>
          <span class="field-value">{{ employe.email }}</span>
        </div>
        <div class="info-field">
          <span class="field-name">Date d'entrée</span>
          <span class="field-value">{{ employe._id }}</span>
        </div>
      </div>
    </div>
  </div>
</app-container>
